/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    /* background: linear-gradient(#180A0A, #191919, #16213E, #404040, #182747, #B0B0B0); */
    background: linear-gradient(#1A1A2E, #191A19, #222831, #282A3A);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.banner {
    width: auto;
    position: relative;
    margin-bottom: 1.5rem;
}

.banner-content {
    position: absolute;
    top: 1.5rem;
    left: 5rem;
}

.banner-description {
    color: #f0f0f0;
    font-size: 1.5rem; 
    margin-top: 1rem;
}

.banner-image {
    /*padding-right: 1em;*/
    width: 100%;
    border-radius: 0.5rem;
    filter: blur(1px);
    opacity: 0.6;
}

.banner-list {
    color: #f0f0f0;
    font-size: 1.25rem; 
    margin-top: 1rem;
    list-style-type: square; 
    padding-left: 2.5rem;
}

.banner-title {
    color: #f0f0f0;
    font-size: 2.5rem; 
    width: auto; /* anteriormente: 21.875rem */
    line-height: 3.125rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
    background-color: rgba(107, 119, 141, 0.1);
    border: 0.1rem;
    padding: 1em 0;
}

.header-title {
    color: #f0f0f0; 
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 0.5em; /* Acrescentar espaço abaixo do título */
}

.header-nav {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    margin-bottom: 1.5rem;
}

.header-nav a {
    font: inherit;
    text-decoration: none;
    color: #7B78E5; 
    font-size: 1.5em; 
    margin: 0 1.5rem;
    padding: 0.5rem;
    transition: color 0.2s ease-in-out
}


.header-nav a:hover {
    color: #f0f0f0;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-content {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
    width: 70%; /* 950px */
}

.imagem-imagem {
    width: 100%;
    border-radius: 20px;
}

.imagem-info {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.imagem-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f0f0f0;
    margin-top: 0.5rem;
}

.imagem-titulo {
    font-weight: bold;
    line-height: 2rem;
    color: #f0f0f0;
}

.imagem-texto {
    font-size: 1rem;
}

.imagem-descricao {
    font-size: 0.7rem;
}

.menu-lateral {
    min-width: 20%; /* 270px */
    box-sizing: border-box;
    margin-right: 1em;
    padding-right: 1.5rem;
    /* 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
}

.menu-lateral-navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5em 1.5em;
    padding-top: 50px;
}

/* .menu-lateral-navegacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0.5em 1.5em;
}
 */

.menu-lateral-navegacao a {
    font-family: "Poppins", sans-serif;
    align-items: center;
    display: flex;
    margin-bottom: 1.5rem;
    text-decoration: none;
    font-size: 1.5em;
}

.menu-lateral-navegacao > a {    
    color: #7B78E5;
}


.menu-lateral-navegacao img {
    margin-right: 1.5rem;
}

.pagina-inicial {
    max-width: 90vw; /* 1440px */
    padding: 1.5rem;
    margin: 0 auto;
}

.principal {
    display: flex;
    justify-content: flex-start; /* Alterado de space-between para flex-start para diminuir o espaço entre os elementos da classe */
    margin: 1rem;
}

.footer {
    background: linear-gradient(#191919, #222831, #282A3A, #191919);
    width: 100%;
    padding: 1.5rem 3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #f0f0f0;
}

.footer-icons {
    width: 5em;
    display: flex;
    justify-content: space-between;
}

.footer-text {
    font: inherit;
    font-size: 1.25rem;
}